{% extends 'blog-template.html' %}

{% block content%}

<div class="row">
    <div class="col-xs-12">
        <a href="/blog/new-post">Create a new post</a>   &#10686;

        {% if not user_id %}

            <a href="/blog/login">Login</a>

        {% else %}

            <a href="/blog/logout">Logout</a>

        {% endif %}

    </div>
    <div class="error col-xs-12">{{error}}</div>
</div>

{% for post in posts %}

    <div class="row">
        <h3 class="col-xs-12 post-subject">{{post.subject}}</h3>
        <div class="col-xs-12 post-timestamp align-bottom">Created by
            {{post.username}} on {{post.created.strftime('%b %d, %Y at %I:%M %p')}}
            &#10686; Last Activity: {{post.last_modified.strftime('%b %d, %Y %I:%M %p')}}</div>
        <div class="col-sm-1 post-timestamp">
            <form class="form-inline" method="post">
                <input type="hidden" name="edit_post" value="{{post.key().id()}}">
                <button class="btn btn-inline">Edit post</button>
            </form>
        </div>
        <div class="col-sm-1 post-timestamp">
            <form class="form-inline" method="post">
                <input type="hidden" name="delete_post" value="{{post.key().id()}}">
                <button class="btn btn-inline">Delete post</button>
            </form>
        </div>
        <div class="col-xs-12 post-content">{{post.post.replace('\n', '<br>')| safe}}</div>
        <hr class="col-xs-12">
    </div>
    <div class="row post-timestamp">
        <form class="form-inline col-sm-1" method="post">
            <input type="hidden" name="like" value="{{post.key().id()}}">
            <button class="btn btn-inline">Like</button>
        </form>
        <div class="col-sm-2">{{post.likes}} likes</div>
        <form class="form-inline col-sm-9" method="post">
            <input type="hidden" name="comment" value="{{post.key().id()}}">
            <button class="btn btn-inline">Comment</button>
        </form>
    </div>

    {% for comment in post.comments %}

    <div class="row">
        <div class="col-xs-12 comment-header">Comment from {{comment.split('|')[1]}}</div>
        <div class="col-xs-1"></div>
        <div class="col-xs-11 comment">{{comment.split('|')[0]}}</div>
        <div class="col-xs-1"></div>
        <form class="col-xs-1" method="post">
            <input type="hidden" name="delete_comment" value="{{comment}}">
            <button class="btn btn-inline">Delete</button>
        </form>
        <form class="col-xs-1" method="post">
            <input type="hidden" name="edit_comment" value="{{comment}}">
            <button class="btn btn-inline">Edit</button>
        </form>
    </div>
    <br class="row">

    {% endfor %}

{% endfor %}

{% endblock %}